@import "variables";
@import "mixins";
@import "reset";

body {
  background: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: auto;
  padding: 20px 35px 0;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  .nav-left {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: $dark;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }

  .nav-right {
    img {
      width: 32px;
    }
  }
}

/* TITLES */

.section-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  color: $dark;
}

/* TRENDING */

.trending {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  .trend-card {
    background: $white;
    border-radius: 4px;
    overflow: hidden;

    .trend-image {
      position: relative;
      height: 230px;

      img {
        @include image-cover;
      }

      h3 {
        position: absolute;
        top: 18px;
        left: 18px;
        color: $white;
        font-size: 22px;
        font-weight: 700;
      }
    }

    .trend-content {
      padding: 28px 22px;

      p {
        color: $text-gray;
        font-size: 13px;
        line-height: 1.8;
        margin-bottom: 22px;
      }

      span {
        color: #9b9b9b;
        font-size: 12px;
      }

      i {
        margin-right: 7px;
      }
    }
  }
}

/* HAPPENING */

.happening-title {
  margin-top: 70px;
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 35px;
}

.left-gallery {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.right-gallery {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.big-card {
  position: relative;
  height: 430px;
  border-radius: 4px;
  overflow: hidden;

  img {
    @include image-cover;
  }
}

.overlay {
  @include flex-center;
  position: absolute;
  inset: 0;
  color: $white;
  font-size: 28px;
  font-weight: 500;
}

.small-card {
  height: 186px;
  border-radius: 4px;
  overflow: hidden;

  img {
    @include image-cover;
  }
}

/* FOOTER */

.footer {
  background: $footer-bg;
  margin-top: 28px;
  padding: 55px 65px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;

  .footer-left {
    display: flex;
    gap: 70px;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 14px;

    a {
      text-decoration: none;
      color: #aab2c0;
      font-size: 12px;
    }
  }

  .footer-center {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
  }

  .footer-logo {
    display: flex;
    justify-content: flex-end;

    img {
      width: 38px;
    }
  }
}